.project
.settings
.classpath
.gradle
.gradletasknamecache
target
build

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Avoid ignore Gradle wrappper properties
!gradle-wrapper.properties

*.iml
.idea/

# LeanCloud
.avoscloud
.leancloud
